@model MariosFoods.Models.Product


@{
    ViewData["Title"] = "Product Details";
}

<div class="vh-100 dt w-100 tc bg-dark-gray " style="background:url(https://www.toptal.com/designers/subtlepatterns/patterns/round.png);">
<div class="container tc black-70 ">

<h1 class="f1 f-headline-l fw1 i black-70 athelas">@Html.DisplayFor(model => model.Name) Details</h1>

    
		      <h3>Average rating: @ViewBag.Average stars</h3>
		
       @if (User.Identity.IsAuthenticated) {
           
                <a href="@Url.Action("Edit", new {id = Model.ProductId})">
            <i class="fa fa-pencil fa-3x grow pa3" aria-hidden="true"></i>
            </a> 
            <a href="@Url.Action("Delete", new {id = Model.ProductId})">
            <i class="fa fa-trash fa-3x row pa3" aria-hidden="true"></i>
            </a>
                }
		      



<h5>Country of Origin: @Html.DisplayFor(model => model.Origin)</h5>
<h5>Cost: $@Html.DisplayFor(model => model.Cost)</h5>

        <br>

		
        <h3>Review @Html.DisplayFor(model => model.Name)</h3>
       

		<form action="/Reviews/Create" method="post" class="new-review">
		<input type="hidden" value="@Model.ProductId" name="ProductId">
		 <label for="newAuthor">Author: </label>
         <input type="text" name="newAuthor" />
         <label for="newContentBody">Content: </label>
         <input type="text" name="newContentBody" />
         <label for="newRating">Rating: </label>
         <input type="text" name="newRating" />
         <button type="submit">Submit</button>
        </form>
        <div id="review-output"></div>

		

		<br>
        <br>

		<h3>Reviews for @Html.DisplayFor(model => model.Name)</h3>
		
    @foreach(var review in Model.Reviews)
{  <div>

			
            @using System.Security.Claims
    <h5>
        @if (User.Identity.IsAuthenticated) {
            @Html.ActionLink("Delete this review", "Delete", "Reviews", new {id = review.ReviewId});
        
                }
               <br>
                <br>
               @Html.DisplayFor(model => review.Author) says:</h5>
    <p>@Html.DisplayFor(model => review.ContentBody)</p>
	<h6>@Html.DisplayFor(model => review.Rating) Stars</h6>
	

		&nbsp;
    
    </div>
    

}

<h5>@Html.ActionLink("Back to product list", "Index")</h5>





   <script>
     $(document).ready(function () {            
     $('.new-review').submit(function (event) {
         event.preventDefault();
         $.ajax({
             url: '/Reviews/Create',
             type: 'POST',
             dataType: 'json',
             data: $(this).serialize(),
             success: function (result) {      
                 $('#review-output').append(result);
             }
         });
     });

     });

 <script>

