@model IEnumerable<MariosFoods.Models.Product>


@{

    ViewData["Title"] = "Products";

  
}

<div class="vh-100 dt w-100 tc bg-dark-gray " style="background:url(https://www.toptal.com/designers/subtlepatterns/patterns/round.png);">
<div class="container tc black-70 ">

<h1 class="f1 f-headline-l fw1 i black-70 athelas">Products</h1>

@if (User.Identity.IsAuthenticated)
{
    <h3>Hello @User.Identity.Name!</h3>
    <br>
   <a href="@Url.Action("Create","Products")">
            <h5>Create a product</h5>   
            <i class="fa fa-plus fa-3x grow pa3" aria-hidden="true"></i>
            </a> 

    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn btn-default" value="Log out" />
    }
}
else
{
    <p>@Html.ActionLink("Register", "Register", "Account")</p>
    <p>@Html.ActionLink("Log in", "Login", "Account")</p>
}

     @foreach(var product in Model)
    {

<div class="row tc">
<div class="col-sm-3">
</div>
  <div class="col-sm-6 pa3">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title f3">@Html.DisplayFor(modelProduct => product.Name)</h3>
         
        <button class="btn btn-default grow">@Html.ActionLink("Details", "Details", new { id = product.ProductId})</button>
      </div>
    </div>
  </div>
        <div class="col-sm-3">
</div>
</div>


  
        
    }



<h5>@Html.ActionLink("Back to welcome page", "Index", "Home")</h5>

 

</div>




